<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813695073093-92psv1iu20vp574j6c2vhvk18sdetjh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813695073093-92psv1iu20vp574j6c2vhvk18sdetjh0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>813695073093-sj9cvkmuig0pndsbeiattgucc0nahq2m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATLIfAl2m8ttrjxCeoWZnoGnUWVSQz-CU</string>
	<key>GCM_SENDER_ID</key>
	<string>813695073093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterZoom</string>
	<key>PROJECT_ID</key>
	<string>flutter-zoom-b83e4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-zoom-b83e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813695073093:ios:4c0395ce3fd2fab5015c2c</string>
</dict>
</plist>